˚.checks-details-contents
  = f.check_box :item_condition, {multiple: true, class: "search-items__left-form-checks"}, 'すべて',nil
  = f.label :item_condition, 'すべて'
.checks-details-contents
  = f.check_box :item_condition, {multiple: true, class: "search-items__left-form-checks"}, '新品、未使用',nil
  = f.label :item_condition, "新品、未使用"
.checks-details-contents
  = f.check_box :item_condition, {multiple: true, class: "search-items__left-form-checks"}, '未使用に近い',nil
  = f.label :item_condition, "未使用に近い"
.checks-details-contents
  = f.check_box :item_condition,  {multiple: true, class: "search-items__left-form-checks"}, '目立った傷や汚れなし',nil
  = f.label :item_condition, "目立った傷や汚れなし"
.checks-details-contents
  = f.check_box :item_condition,  {multiple: true, class: "search-items__left-form-checks"}, 'やや傷や汚れあり',nil
  = f.label :item_condition, "やや傷や汚れあり"
.checks-details-contents
  = f.check_box :item_condition,  {multiple: true, class: "search-items__left-form-checks"}, '傷や汚れあり',nil
  = f.label :item_condition, "傷や汚れあり"
.checks-details-contents
  = f.check_box :item_condition,  {multiple: true, class: "search-items__left-form-checks"}, '全体的に状態が悪い',nil
  = f.label :item_condition, "全体的に状態が悪い"
