= render 'partial/header'

.mypage-body
  .mypage-main.clearfix
    = render 'partial/mypage_sidebar'
    = render 'partial/mypage_profile'

= render 'partial/footer-banner'
= render 'partial/footer'
= render 'partial/sell_btn'
