= render 'partial/header'

.mypage-body
	.mypage-main.clearfix
		= render 'partial/mypage_sidebar'
		= render 'partial/mypage_main'
		= render 'partial/tab_container'
		= render 'partial/tab_container-production'


= render 'partial/footer-banner'
= render 'partial/footer'
= render 'partial/sell_btn'
