//pc

.header
  .header-inner
    .header-inner__upper.clearfix
      %h1.header-inner__upper-logo
        = link_to image_tag("logo.svg", alt:"mer", width: "134", height: "36"),root_path
      .header-inner__upper-search-form
        %input{type:"search", placeholder:"キーワードから探す"}
        -# = form_for  do |f|
          = f.text_field :content, class: 'form-control', placeholder: 'キーワードから探す'
        %i.fas.fa-search


    .header-inner__lower.clearfix
      %nav.header-inner__lower-nav
        %ul.header-inner__lower-left-content
          %li
            %h2
              %a.header-inner__lower-left-content-category{href:"/"} カテゴリーから探す
          %li
            %h2
              %a.header-inner__lower-left-content-bland{href:"/"} ブランドから探す


      - if user_signed_in?
        .header-inner__lower-right-content
          %ul.header-inner__lower-right-content-nav
            %li
              = link_to user_path(current_user.id), class: 'header-inner__lower-right-content-user' do
                %figure
                  %div
                    = image_tag "light-bulb.jpg", width: "32"
                %div マイページ
            %li
              %a.header-inner__lower-right-content-notification{href:"/"}
                %i.far.fa-bell
                %span お知らせ
            %li
              %a.header-inner__lower-right-content-todo{href:"/"}
                %i.fas.fa-check
                %span やることリスト
      - else
        .header-inner__lower-right-content
          %ul.header-inner__lower-right-content-nav
            %li
              = link_to new_user_session_path, class: 'header-inner__lower-right-content-new' do
                %span.new-registration ログイン
            %li
              = link_to choice_users_path, class: 'header-inner__lower-right-content-login' do
                %span.login-box 新規会員登録


// sp

.sp-header
  .sp-header-inner.clearfix
    %h1.sp-header-inner__logo
      = link_to image_tag("logo.svg", alt:"mer", width: "134", height: "36"),root_path
    - if user_signed_in?
      = link_to user_path(current_user.id), class: 'sp-header-inner__user-icon' do
        %figure
          %div
            = image_tag "light-bulb.jpg", width: "32"
    - else
      = link_to "新規会員", choice_users_path, class: 'sp-header-inner__user-login'
      = link_to new_user_session_path, class: 'sp-header-inner__user-new' do
        %span ログイン
  .sp-header-inner__search
    %form.sp-header-inner__search-form
      %input{type:"search", placeholder:"何をお探しですか"}
        -# = form_for  do |f|
          = f.text_field :content, class: 'form-control', placeholder: 'キーワードから探す'
      %i.fas.fa-search


  %nav.sp-header-inner__lower-nav
    %a.sp-header-inner__lower-left-content-category{href:"/"} カテゴリーから探す
    %a.sp-header-inner__lower-left-content-bland{href:"/"} ブランドから探す
