= render 'partial/header'

.search-wrapper
  = search_form_for(@q, url: items_advanced_search_path, class: "search-items__left") do |f|
    .search-items__left-sort
      %select.search-items__left-sort-order
        並び替え
        %option 並び替え
        %option 価格の安い順
        %option 価格の高い順
      %i.fas.fa-angle-down{class: "angle-down-top"}
    .search-items__left-sort-details
      %h3.large-font
        詳細検索
      .search-items__left-form
        %label
          %i.fas.fa-plus
          %span.add-keyword キーワードを追加する
        .search-items__left-form-content
          = f.search_field :name_cont, class: "form-shape"

      .search-items__left-form
        %label
          %i.fa.fa-list
          %span.add-keyword カテゴリーを選択する
        .search-items__left-form-content
          .select-wrapper
            = f.collection_select(:parent_category_large_category_eq, LargeCategory.all, :id, :name, {prompt: "---"}, {class: 'select-form '})
            = fa_icon "angle-down", class:'icon'
          .select-wrapper.search-midium_category
          .select-wrapper.small_category

      .search-items__left-form
        %label
          %i.fas.fa-plus
          %span.add-keyword ブランド名から探す
        .search-items__left-form-content
          = f.search_field :name_cont, class: "form-shape", placeholder: "例）シャネル"
      .search-items__left-form
        %i.far.fa-circle
        %span.add-keyword
          サイズを指定する
        .search-items__left-form-content
          %select.form-shape
            すべて
            %option すべて
          %i.fas.fa-angle-down{class: "angle-down-size"}
      .search-items__left-form
        %label
          %i.fas.fa-yen-sign
          %span.add-keyword 価格
        .search-items__left-form-content
          = f.text_field :value_price_gteq
          = f.label :value_price_lteq, " 〜 "
          = f.text_field :value_price_lteq

      .search-items__left-form
        %label
          %i.fas.fa-star
          %span.add-keyword 商品の状態
        .search-items__left-form-checks
          = render partial: "partial/items/items-search-bar", locals: {f:f}

      .search-items__left-form

      .search-items__left-form
        %label
          %i.fas.fa-yen-sign
          %span.add-keyword 配送料の負担
        .search-items__left-form-checks
          = f.combinator_select(items: :delivery_fee)
      .search-items__left-form
        %i.fas.fa-shopping-cart
        %span.add-keyword
          販売状況
        .search-items__left-form-checks
          .checks-details-contents
            %input.form-small
            .checks-details-contents-content
              すべて
          .checks-details-contents
            %input.form-small{type: "checkbox"}
            .checks-details-contents-content
              販売中
          .checks-details-contents
            %input.form-small{type: "checkbox"}
            .checks-details-contents-content
              売り切れ
      .search-items__left-buttons
        .search-items__left-buttons-left
          クリア
        = f.submit '検索する', class: 'btn-red search-items__left-buttons-right'

  .search-items__right
    .search-items__right-results
      検索結果
    = render partial: 'partial/items/advanced-search-items', locals: {items: @items}

= render 'partial/footer-banner'
= render 'partial/footer'
= render 'partial/sell_btn'
