= render 'partial/header'
.sidebar

%section.item-box-container
  %h1.item-name
    = @item.name
  .item-main-box.clearfix
    .item-img-box
      .item-img-box-main
        = image_tag @item.image, class: "item-img-size"

    %table.item-info
      %tbody
        %tr
          %th 出品者
          %td
            =link_to "#" do
              = @item.user.nickname
            %div
              .item-user-rate
                %i.good
                %p.count 2
              .item-user-rate
                %i.normal
                %p.count 1
              .item-user-rate
                %i.bad
                %p.count 0
        %tr
          %th カテゴリー
          %td
            =link_to do
              %p.parent
                = @large_category.name
            =link_to "",class: 'child-box' do
              %i.right
                %p.child
                  = @midium_category.name
            / small_caregory導入後
            / =link_to "",class: 'child-box' do
            /   %i.right
            /     %p.second-child
            /       = @small_category.name
        %tr
          %th ブランド
          %td -
        %tr
          %th 商品のサイズ
          %td
            %p 未設定
        %tr
          %th 商品の状態
          %td
            %p
              = @item.item_condition
        %tr
          %th 配送料の負担
          %td
            %p
              = @item.delivery_fee
        %tr
          %th 配送の方法
          %td
            %p 未設定
        %tr
          %th 配送元地域
          %td
            = link_to do
              %p
              = @item.ship_from
        %tr
          %th 発送日の目安
          %td
            %p
              = @item.pre_date

  .price-box
    %h1
    %span.price
      ¥
      = @item.value.price.to_s(:delimited)
    %span.tax (税込)
    %span.sipping-fee 送料込み
  .item-detail
    = @item.description

%section.item-box-container
  = link_to '商品の編集',edit_item_path(params[:item_id]), class: "btn-red change-height"
  .or-option
    or
    = link_to '出品を一旦停止する', "/",class: "btn-red change-color"
    = link_to 'この商品を削除する', "", id: 'modal-open', class: "btn-red change-color"

%section.item-message
  %ul.messages
    %li.cation
      %p 相手のことを考えて丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    %li.comment
      = form_for("") do |f|
        = f.text_area :text, class:"text-input"
        .actions
          = f.submit "コメントする", class: 'btn-gray'
%section.item-bottom

%aside.modal.is-show.is-animate
  .modal-inner.modal-banner
    .modal-body
      .modal-head.bold 確認
      削除すると二度と復活できません。
      %br 削除する代わりに停止することもできます。
      %br 本当に削除しますか?
    .modal-box
      .modal-btn.modal-btn-cancel キャンセル
      =link_to '削除する', delete_item_path(@item), id: "modal-open" ,class: "modal-btn modal-btn-submit", method: :patch



= render 'partial/footer-banner'
= render 'partial/footer'
= render 'partial/sell_btn'
