= render 'partial/header'

%section.item-box-container
  %h1.item-name
    FCバルセロナ ウーブンウォームアップスーツ(ネイビー)
  .item-main-box.clearfix
    .item-img-box
      .item-img-box-main
        = image_tag("suit.jpg",alt:"スーツ", :size => '300x300')
    %table.item-info
      %tbody
        %tr
          %th 出品者
          %td
            =link_to("エドシーラン")
            %div
              .item-user-rate
                %i.good
                %p.count 2
              .item-user-rate
                %i.normal
                %p.count 1
              .item-user-rate
                %i.bad
                %p.count 0
        %tr
          %th カテゴリー
          %td
            =link_to do
              %p.parent メンズ
            =link_to "",class: 'child-box' do
              %i.right
                %p.child ジャケット/アウター
            =link_to "",class: 'child-box' do
              %i.right
                %p.second-child ナイロンジャケット
        %tr
          %th ブランド
          %td
            = link_to do
              %p ナイキ
        %tr
          %th 商品のサイズ
          %td
            %p S
        %tr
          %th 商品の状態
          %td
            %p 目立った傷や汚れなし
        %tr
          %th 配送料の負担
          %td
            %p 送料込み(出品者負担)
        %tr
          %th 配送の方法
          %td
            %p らくらくメルカリ便
        %tr
          %th 配送元地域
          %td
            = link_to do
              %p 東京都
        %tr
          %th 発送日の目安
          %td
            %p 1~2日で発送
  .price-box
    %h1
    %span.price ¥ 14,600
    %span.tax (税込)
    %span.sipping-fee 送料込み
  .buy-btn 購入画面に進む
  .item-detail Sサイズ 当時サッカーショップで購入しました。家のタンスに眠っていたので出品します。数回着用したのみで全体的に綺麗な美品です。※ジャケットには若干毛玉があります。今では手には入らないモデルなので希少です。上下セットアップでカッコよく、移動着、練習着、部屋着などにどうぞ。
  .item-btn
    .item-btn-left
      %button.like-btn
        %i.like
        %p.text いいね!
        %p.like-count 1
      = link_to "",class: 'report' do
        %i.flag
        %p.text 不適切な商品の報告
    .item-btn-right
      = link_to "" do
        %i.lock
        %p.text あんしん・あんぜんへの取り組み

%section.item-message
  %ul.messages
    %li.cation
      %p 相手のことを考えて丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    %li.comment
      = form_for("") do |f|
        = f.text_area :text, class:"text-input"
        .actions
          = f.submit "コメントする", class: 'btn-gray'
%ul.nav-item-link.clearfix
  %li.nav-prev
    =link_to "",class: 'prev' do
      %i.prev-icon
      %p.text FCバルセロナ ウーブンウォームアップスーツ(ネイビー)
  %li.nav-next
    =link_to "",class: 'next' do
      %p.text FCバルセロナ ウーブンウォームアップスーツ(ネイビー)
      %i.prev-icon-right

.social-media-box
  %ul.social-media-icons
    %li.social-media-icon
      =link_to "" do
        %i.facebook-icon
    %li.social-media-icon
      =link_to "" do
        %i.twitter-icon
    %li.social-media-icon
      =link_to "" do
        %i.line-icon
    %li.social-media-icon
      =link_to "" do
        %i.pinterest-icon

.items-user-profile
  %section.items-box-container.clearfix.user-profile
    %h2.item-box-head
      =link_to "",class: 'user-link' do
        %p エドシーランさんのその他の出品
    .items-box-content.clearfix
      %section.items-box
        =link_to "",class: 'item-box' do
          .items-box-photo
            = image_tag("suit.jpg", alt:"スーツ", :size => '220x220')
          .items-box-body
            %h3.item-name.font-2 FCバルセロナ ウーブンウォームアップスーツ(ネイビー)
            .item-box-num.clearfix
              .item-box-price.font-5 ¥ 14,600
              .item-box-likes
                %p.like-count 1
                %i.like.font-2
              %p.item-box-sipping-fee (税込)
      %section.items-box
        =link_to "",class: 'item-box' do
          .items-box-photo
            = image_tag("suit.jpg", alt:"スーツ", :size => '220x220')
          .items-box-body
            %h3.item-name.font-2 FCバルセロナ ウーブンウォームアップスーツ(ネイビー)
            .item-box-num.clearfix
              .item-box-price.font-5 ¥ 14,600
              .item-box-likes
                %p.like-count 1
                %i.like.font-2
              %p.item-box-sipping-fee (税込)
      %section.items-box
        =link_to "",class: 'item-box' do
          .items-box-photo
            = image_tag("suit.jpg", alt:"スーツ", :size => '190x220')
          .items-box-body
            %h3.item-name.font-2 FCバルセロナ ウーブンウォームアップスーツ(ネイビー)
            .item-box-num.clearfix
              .item-box-price.font-5 ¥ 14,600
              .item-box-likes
                %p.like-count 1
                %i.like.font-2
              %p.item-box-sipping-fee (税込)

  %section.items-box-container.clearfix.in-category
    %h2.item-box-head
      =link_to "",class: 'user-link' do
        %p ナイキのナイロンジャケット その他の出品
    .items-box-content.clearfix
      %section.items-box
        =link_to "",class: 'item-box' do
          .items-box-photo
            = image_tag("suit.jpg", alt:"スーツ", :size => '220x220')
          .items-box-body
            %h3.item-name.font-2 FCバルセロナ ウーブンウォームアップスーツ(ネイビー)
            .item-box-num.clearfix
              .item-box-price.font-5 ¥ 14,600
              .item-box-likes
                %p.like-count 1
                %i.like.font-2
              %p.item-box-sipping-fee (税込)
      %section.items-box
        =link_to "",class: 'item-box' do
          .items-box-photo
            = image_tag("suit.jpg", alt:"スーツ", :size => '220x220')
          .items-box-body
            %h3.item-name.font-2 FCバルセロナ ウーブンウォームアップスーツ(ネイビー)
            .item-box-num.clearfix
              .item-box-price.font-5 ¥ 14,600
              .item-box-likes
                %p.like-count 1
                %i.like.font-2
              %p.item-box-sipping-fee (税込)
      %section.items-box
        =link_to "",class: 'item-box' do
          .items-box-photo
            = image_tag("suit.jpg", alt:"スーツ", :size => '190x220')
          .items-box-body
            %h3.item-name.font-2 FCバルセロナ ウーブンウォームアップスーツ(ネイビー)
            .item-box-num.clearfix
              .item-box-price.font-5 ¥ 14,600
              .item-box-likes
                %p.like-count 1
                %i.like.font-2
              %p.item-box-sipping-fee (税込)


= render 'partial/footer-banner'
= render 'partial/footer'
= render 'partial/sell_btn'
