= render 'partial/header'

.main__wrapper
  %section
    .header-banner.owl-carousel.owl-theme
      = link_to image_tag("header-banner/banner-bokurano-heisei-entertainment.png"),root_path
      = link_to image_tag("header-banner/banner-bokurano-heisei.jpg"),root_path
      = link_to image_tag("header-banner/top-banner-kusanagi.jpg"),root_path

  %section.pickup-items__wrapper
    %h2.pickup-items__wrapper-head
      ピックアップカテゴリー

      %section.pickup-items__container.clearfix
        %h3.pickup-items__container-head
          = link_to 'レディース 新着アイテム', root_path
        = render partial: 'partial/pickup-items', locals: {items: @ladies_items }
        %h3.pickup-items__container-head
          = link_to 'メンズ 新着アイテム', root_path
        = render partial: 'partial/pickup-items', locals: {items: @mans_items }
        %h3.pickup-items__container-head
          = link_to 'ベビー・キッズ 新着アイテム', root_path
        = render partial: 'partial/pickup-items', locals: {items: @baby_items }
        %h3.pickup-items__container-head
          = link_to 'コスメ・香水・美容 新着アイテム', root_path
        = render partial: 'partial/pickup-items', locals: {items: @cosme }

  %section.pickup-items__wrapper
    %h2.pickup-items__wrapper-head
      ピックアップブランド
      %section.pickup-items__container.clearfix
        %h3.pickup-items__container-head
          = link_to 'シャネル 新着アイテム', root_path
        = render partial: 'partial/pickup-items', locals: {items: @brand_chanel }
        %h3.pickup-items__container-head
          = link_to 'ルイ ヴィトン 新着アイテム', root_path
        = render partial: 'partial/pickup-items', locals: {items: @brand_louisvuitton }
        %h3.pickup-items__container-head
          = link_to 'シュプリーム 新着アイテム', root_path
        = render partial: 'partial/pickup-items', locals: {items: @brand_supreme }
        %h3.pickup-items__container-head
          = link_to 'ナイキ 新着アイテム', root_path
        = render partial: 'partial/pickup-items', locals: {items: @brand_nike }

= render 'partial/footer-banner'
= render 'partial/footer'
= render 'partial/sell_btn'
