= render 'partial/header'

.main__wrapper
  %section
    .header-banner.owl-carousel.owl-theme
      = link_to image_tag("header-banner/banner-bokurano-heisei-entertainment.png"),root_path
      = link_to image_tag("header-banner/banner-bokurano-heisei.jpg"),root_path
      = link_to image_tag("header-banner/top-banner-kusanagi.jpg"),root_path

  %section.pickup-items__wrapper
    %h2.pickup-items__wrapper-head
      ピックアップカテゴリー

      = render partial: 'partial/pickup-items',locals: {item: @items }
  %section.pickup-items__wrapper
    %h2.pickup-items__wrapper-head
      ピックアップブランド
      =render 'partial/pickup-items'

= render 'partial/footer-banner'
= render 'partial/footer'
= render 'partial/sell_btn'
