= render 'partial/header'

.mypage-body
  .mypage-main.clearfix
    = render 'partial/mypage_sidebar'
    .mypage-main__tab-container
      %section.mypage-tab-container-production.mypage-tab-container
        .mypage-tab-head
          %h3.mypage-tab-title 出品した商品
        .tabs
          %input#out{checked:"checked", name:"tab_list", type:"radio"}
          %label.tab_list{for: "out"} 出品中
          %input#trade{name:"tab_list", type:"radio"}
          %label.tab_list{for: "trade"} 取引中
          %input#sold{name:"tab_list", type:"radio"}
          %label.tab_list{for: "sold"} 売却済み
          #out_content.tab_content
            .tab_content_description
              = render partial: 'partial/items/item_list_container', locals: {items: @item_exhibition}
          #trade_content.tab_content
            .tab_content_description
              = render partial: 'partial/items/item_list_container', locals: {items: @item_trade}
          #sold_content.tab_content
            .tab_content_description
              = render partial: 'partial/items/item_list_container', locals: {items: @item_sold}

= render 'partial/footer-banner'
= render 'partial/footer'
= render 'partial/sell_btn'
