= render "devise/shared/header"

%main.single-main
  .transaction-product-container
    .transaction-product-container__head 購入を確定しますか？

    .transaction-content
      .transaction-content-inner
        .transaction-product-image
          = image_tag @item.image, class: "transaction-img-size"

        .transaction-product-name
          = @item.name

        %form.transaction-form
          %p.transaction-price-ja.bold
            ¥
            = @item.value.price.to_s(:delimited)
            %span.shipping-fee 送料込み

          .accordion-toggle
            =link_to "#" do
              %button.btn.btn__mail.point_use
                ポイントを使う

          .transaction-price-table
            .transaction-price-row.transaction-you-pay.bold
              .transaction-price-cell 支払い金額
              .transaction-price-cell-price
                ¥
                = @item.value.price.to_s(:delimited)

          %p.transaction_info
            配送先と支払い方法の入力を完了してください

          .signup-panel__inner-buy
            = link_to pay_item_path(:id), method: :post do
              %button.btn.btn__mail
                購入する

    .transaction-user-info
      .transaction-content-inner
        配送先
        .transaction-user-info-text
          〒
          = current_user.address.post_code
          %br
          = current_user.address.prefecture
          = current_user.address.city
          = current_user.address.house_number
          %br
          = @item.user.nickname
        %a.transaction-user-info-fix{:href => "/"}
          %span 変更する
          %i.fas.fa-arrow-right
    .transaction-user-info
      .transaction-content-inner
        支払い方法
        .transaction-user-info-text
          ************8704
          %br
          01/01
          %br
        %a.transaction-user-info-fix.credit-info{:href => "/"}
          %span 変更する
          %i.fas.fa-arrow-right

= render "devise/shared/footer"
